<div class="bg-primary rounded-2xl flex flex-col place-self-stretch h-[350px]">
    <!-- header -->
    <div class="p-4 text-white mb-0 h-24">
        <div class="flex items-center gap-2">
            <img src="../../../assets/code.svg" alt="code">
            <a [href]="repo?.html_url" target="_blank" class="text-lg font-light line-clamp-1">
                {{repo?.name}}
            </a>
        </div>
        <div class="flex items-center gap-3 mt-3">
            <!-- languages -->
            <div class="flex flex-wrap gap-3 items-center" *ngIf="repo?.language">
                <h2 class="bg-badge text-white px-2 py-1 rounded-md text-sm font-light truncate">{{repo?.language}}</h2>
            </div>
            <!-- PRs and Forks -->
            <div class="flex items-center gap-1">
                <img src="../../../assets/fork.svg" alt="icon">
                <p class="text-sm font-light">{{repo?.forks_count}}</p>
            </div>
            <div class="flex items-center gap-1">
                <img src="../../../assets/star.svg" alt="icon">
                <p class="text-sm font-light">{{repo?.stargazers_count}}</p>
            </div>
        </div>
    </div>

    <!-- details -->
    <div class="flex flex-col bg-white m-[3px] rounded-xl rounded-b-[14px] gap-3 p-4 flex-grow">
        <p class="line-clamp-3 font-normal leading-5">
            {{repo?.description || 'No description'}}
        </p>
        <!-- clone button -->
        <div class="w-full bg-[#f2f2f2] p-[6px] rounded-md flex items-center gap-1">
            <span class="w-11/12 truncate text-sm font-light">{{repo?.clone_url}}</span>
            <button (click)="copyToClipboard()">
                <img src="../../../assets/copy.svg" alt="copy">
            </button>
            <!-- copied message -->
            <p *ngIf="copied" class="text-green-500 text-sm">Copied</p>
        </div>

        <!-- live link -->
        <a [href]="repo?.homepage" target="_blank" *ngIf="repo?.homepage"
            class="text-primary my-1 font-light text-sm flex items-center gap-1">
            <img src="../../../assets/globe.svg" alt="globe">
            <span class="underline underline-offset-4 font-medium line-clamp-1">{{repo?.homepage}}</span>
        </a>

        <!-- topics -->
        
        <div class="mt-1 w-full flex items-center flex-wrap gap-2"
            *ngIf="repo && repo.topics">
            <h3 class="bg-primary/10 text-primary py-1 font-light px-2 text-sm rounded-md truncate"
                *ngFor="let topic of repo.topics.slice(0,4)">{{topic}}</h3>
            <p class="text-sm font-extralight" *ngIf="repo.topics.length>4">+{{repo.topics.length-4}} more</p>
            <!-- <p class="font-extralight text-sm" *ngIf="repo.topics.length===0">No topics</p> -->
        </div>
    </div>
    <!-- details -->
</div>